.inputField {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.greenButton {
    width: 60%;
    background-color: #84c639;
    color: #fff;
    padding: 6px;
    border: 0px;
}

.loginWrapper {
    padding: 20px;
}

.registrationBlock {
    width: 40%;
    display: inline-block;
}

.loginBlock {
    position: absolute;
}